{% extends 'template.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Inputs
{% endblock %}
{% block styles %}
{{super()}}
<link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
<body >
  <div class="h4 pb-2 mb-4 text-black border-bottom border-danger">
   Update predictions by filling the form below with appropriate data
  </div>
<div class=" d-flex justify-content-center mt-0">
  <main class="p-3 w-50 border rounded " >
    {% for message in get_flashed_messages() %}
      <div class="alert alert-success d-flex align-items-center" role="alert">
        <div>
        {{message}}
        Click <a class="alert-link" href="{{url_for('dashboard')}}">here</a>to redirect.
        </div>
      </div>
    {% endfor %}
  <form class="justify-content-md-center " method="post" action="/predict">
    
   
   
      {{form.hidden_tag()}}
      
      
      
      {{wtf.form_field(form.temp)}}
      {{wtf.form_field(form.rh)}}
      {{wtf.form_field(form.wind)}}
      {{wtf.form_field(form.ffmc)}}
      {{wtf.form_field(form.dmc)}}
      {{wtf.form_field(form.dc)}}
      <br/>
      <button class="btn btn-success" type="submit">Submit</button>
    
    </form>
  </main>
  
</div>
</body>
{% endblock %}