{% extends 'template.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Inputs
{% endblock %}
{% block styles %}
{{super()}}
<link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}


{% block content %}
<body style="background-image: url('/static/background_fire.jpg'); background-size: cover;">
<div class="p-5 d-flex justify-content-left">
 
  
  <main class="p-3 mt-5 w-50 text-white border rounded">
  <div>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
        {{message}}
        
        </div>
      </div>
    {% endfor %}
  <form class="justify-content-md-center" method="post" action="/login">
  <h3 class="form-signin-heading">Login</h3>
    {{form.hidden_tag()}}
    <div class="mb-3">
    {{wtf.form_field(form.username)}}
    </div>
    <div class="mb-3">
    
    {{wtf.form_field(form.password)}}
    </div>
  <div class="d-grid gap-2 col-3 justify-content-md-right">
    <button class="btn btn-outline-success " type="submit">Login</button>
  </div>
  </form>
  </main>
  
</div>
</body>
{% endblock %}