{% extends 'template.html' %}

{% block content %}
<div class="h4 pb-2 mb-4 text-black border-bottom border-danger">
   Status Records
 </div>

   {% if current_user.is_authenticated %}
   <div class="p-4 d-flex justify-content-center mt-0">
      <main class="p-3 w-75 border rounded " >
   <div class="table-responsive">
   <table class="table table-sm ">
    <thead class="table-light"> 
       <tr>
        <th scope="col">#</th>
        <th scope="col">user id</th>
        <th scope="col">month</th>
        <th scope="col">temperature</th>
        <th scope="col">relative humidity</th>
        <th scope="col">wind</th>
        <th scope="col">FFMC</th>
        <th scope="col">DMC</th>
        <th scope="col">DC</th>
        <th scope="col">status</th>
        </tr>
        </thead>
        {% for records in read_records %}
        <tbody >
       <tr>
            <th scope="row">{{records.id}}</th> 
            <td>{{records.user_id}}</td> 
            <td>{{records.date}}</td> 
            <td>{{records.temp}}</td>
            <td>{{records.rh}}</td>
            <td>{{records.wind}}</td>
            <td>{{records.ffmc}}</td>
            <td>{{records.dmc}}</td>
            <td>{{records.dc}}</td>
            <td>{{records.status}}</td>
            </tr>
       
        </tbody>
        {%endfor%}
    </table>
   </div>
      </main>
   </div>
{% endif %}

{% endblock %}