{% extends 'template.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Inputs
{% endblock %}
{% block styles %}
{{super()}}
<link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="p-4 d-flex justify-content-center">
 
  
  <main class="w-75">
  <div class="p-3 border">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <div>
      {{message}}
      
      </div>
    </div>
  {% endfor %}
  <form class="justify-content-md-center" method="post" action="/register">
  <h3 class="form-signin-heading">Register a new user</h3>
  
    {{form.hidden_tag()}}
    
   
    {{wtf.form_field(form.username)}}
   
    {{wtf.form_field(form.email)}}
    
    {{wtf.form_field(form.password)}}
  </br>
    <button class="btn btn-outline-success " type="submit">Register</button>
  
  </form>
  </div>
</br>
  {% if current_user.is_authenticated %}
  <div class="table-responsive">
    <table class="table table-sm ">
     <thead class="table-light"> 
        <tr>
         <th scope="col">ID</th>
         <th scope="col">Username</th>
         <th scope="col">Email Address</th>
         
         </tr>
         </thead>
         {% for user in read_users %}
         <tbody >
        <tr>
             <th scope="row">{{user.id}}</th> 
             
             <td>{{user.username}}</td> 
             <td>{{user.email}}</td>
             
             
             </tr>
        
         </tbody>
         {%endfor%}
     </table>
    </div>
  {%endif%}
  </main>
  
</div>
{% endblock %}